<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("scripts", required: false)
    <meta name="description" content="Ads REST Services" />
</head>

<body>
    @RenderBody()
    <footer>
        <strong>&copy; Copyright 2014 Ads REST Services</strong>
    </footer>
</body>

</html>
