<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-theme.min.css" />
  <link rel="stylesheet" href="css/app.css">
</head>
<body ng-app="myApp">
	<div class="container">
		<div class="navbar">
			<ul class="nav">
				<li><a href="#/News">News</a></li>
			</ul>
		</div>
		
		<div ng-controller="NewsController">
			<h1>{{news.name}}</h1>
			<div><strong>Date:</strong> {{news.date}}</div>
			<div>
				<strong>Author:</strong> 
				<img ng-src="{{news.author.picture}}" width="20" /> 
				<span>{{news.author.name}}</span>
				<span>({{news.author.company}})</span>
			</div>
			<hr />
			<img class="pull-right" ng-src="{{news.imageUrl}}" width="300"/>
			<div class="top-buffer">{{news.content}}</div> 
			<br />
			<div>
				<h2>Comments:</h2>
				<ul id="comments">
					<li ng-repeat="comment in news.comments">
						<div class="row well">
							<div class="col-md-1">
								<div ng-click="upVote(comment)">
									<span class="glyphicon glyphicon-chevron-up"></span> 
								</div>
								<div class="badge badge-inverse icon-dark">
									{{comment.votes}}
								</div>
								<div ng-click="downVote(comment)">
									<span class="glyphicon glyphicon-chevron-down"></span>
								</div>
							</div>
							<div class="col-md-11">
								<strong>{{comment.author}}</strong>
								<span class="pull-right">{{comment.date}}</span>
								<br />
								{{comment.content}}
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>


	<script src="../node_modules/angular/angular.js"></script>
	<script src="../node_modules/angular-route/angular-route.js"></script>
	<script src="scripts/app.js"></script>
	<script src="scripts/controllers/news-controller.js"></script>
</body>
</html>
