<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://softuni-social-network.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>softuni-social-network.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>softuni-social-network</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$softuni-social-network</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SocialNetwork.Data.ApplicationDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:h1xuy25kr2.database.windows.net,1433;Initial Catalog=softuni-social-network_db;User ID=bobpodesta@h1xuy25kr2;Password=Chekijiq1" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SocialNetwork.Data.ApplicationDbContext, SocialNetwork.Data" MigrationConfiguration="SocialNetwork.Data.Migrations.Configuration, SocialNetwork.Data" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SocialNetwork" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:h1xuy25kr2.database.windows.net,1433;Initial Catalog=softuni-social-network_db;User ID=bobpodesta@h1xuy25kr2;Password=Chekijiq1" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;Initial Catalog=SocialNetwork.Data.SocialNetwork;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SocialNetwork_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=(LocalDb)\v11.0;initial catalog=SocialNetwork.Data.SocialNetwork;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SocialNetwork-Web.config Connection String">
      <ParameterValue>data source=tcp:h1xuy25kr2.database.windows.net,1433;initial catalog=softuni-social-network_db;user id=bobpodesta@h1xuy25kr2;password=Chekijiq1;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SocialNetwork.Data.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:h1xuy25kr2.database.windows.net,1433;Initial Catalog=softuni-social-network_db;User ID=bobpodesta@h1xuy25kr2;Password=Chekijiq1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="SocialNetwork.Data.ApplicationDbContext" />
  </ItemGroup>
</Project>